spring:
  application:
    name: gateway

  cloud:
    gateway:
      server:
        webflux:
          routes:
            # [0] auth-service -> /api/auth/**
            - id: auth-service
              uri: http://auth-service:8080
              predicates:
                - Path=/api/auth/**

            # [1] user-service -> /api/users/**
            - id: user-service
              uri: http://user-service:8080
              predicates:
                - Path=/api/users/**

            # [2] test-service -> /api/test/**
            - id: test-service
              uri: http://test-service:8080
              predicates:
                - Path=/api/test/**

            # [3] gateway-test -> /api/**
            - id: gateway-test
              uri: ${TEST_UPSTREAM_URI}
              predicates:
                - Path=/api/**
              filters:
                - StripPrefix=1
                - AddRequestHeader=X-Gateway, alogdalog


gateway:
  jwt:
    secret: ${JWT_SECRET}
    skip-paths:
      - /api/auth/**
      - /actuator/**
      - /health
    user-id-claim-key: userId
    user-id-header-name: X-User-Id


management:
  server:
    port: ${MANAGEMENT_PORT}

  endpoints:
    web:
      exposure:
        include: ${MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE}

  endpoint:
    gateway:
      access: ${MANAGEMENT_ENDPOINT_GATEWAY_ACCESS}

logging:
  level:
    com.alogdalog.mallog.gateway: ${LOGGING_LEVEL}